<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>Bootstrap 101 Template</title>

  <!-- Bootstrap -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
  <h1>Hello, world!</h1>
  <div class="container-fluid yellow-background">
    <div class="row" style="background-color:powderblue">
      <div class="col-xs-8" style="color:white;background-color:#ffcc00">
        First 8 columns
      </div>
      <div class="col-xs-4" style="color:white;background-color:#00cc00">
        Last 4 columns
      </div>
    </div>
    <div class="row" style="background-color:powderblue">
      <div class="col-xs-2" style="color:purple;background-color:#ffffff">
        First 2 columns are going right here
      </div>
      <div class="col-xs-8" style="color:white;background-color:#bbbbbb">
        Middle 8 will follow in the fullness of time, don't you think?
      </div>
      <div class="col-xs-2" style="color:white;background-color:#00ccaa">
        The last 2, heroically uninteresting columns.
      </div>
       <div class="row" style="background-color:powderblue">
      <div class="col-xs-4" style="color:white;background-color:darkred">
        Added a Row and Column 1
      </div>
      <div class="col-xs-4" style="color:white;background-color:blue">
         column 2
      </div>
      <div class="col-xs-4" style="color:white;background-color:darkorange">
        columns 3
      </div>
    </div>
  </div>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>